{% extends "base.html" %}

{% block title %}MaterializedFlask - Change Email{% endblock %}

{% block content %}
<main>
    {% for message in get_flashed_messages() %}
    <div class="container alert">
        <div class="row">
            <div class="col s12">
                <div class="card-panel teal lighten-1 center">
                    <span class="card-content white-text" style="font-size:1.2em">
                        {{ message }}
                    </span>
                 </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12 center">
                <h1>Change Email!</h1>
                <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
                <p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
            </div>

            <form class="col s12" method="POST">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        {{ form.email(class='validate') }}
                        {{ form.email.label }}
                        {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">visibility_off</i>
                        {{ form.password(class='validate') }}
                        {{ form.password.label }}
                        {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row right">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            确定<i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</main>

{% endblock %}