/*整体布局*/
header, main, footer {
    padding-left: 240px;
}
.container {
    width: 85%;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
    padding-left: 0;
    }
}

div.page-header {
    width: 90%;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;

}
div.page-header p {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 6px;
    font-size: 1.4em;
    font-weight: bold;
}


/*顶部导航*/
.top-nav {
    height: 60px;
}


/*侧边导航*/
.sidenav {
    width: 240px;
}

a#tools {
    padding-left: 32px;
}

.side-nav a.tool-item {
    padding-left: 88px;
}


/*粘性页脚*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/*文章区域*/
div.post-card {
    padding: 24px 24px 2px 24px;
}

div.post-thumbnail {
    position: absolute;
    top:32px;
}
div.post-content {
    padding-left: 56px;
}
div.post-content div{
    padding-bottom: 6px;
}

div.post-content .chip {
    height: 24px;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 11px;
    background-color: #f4f4f4;
}


div.post-author {
    font-size: 1.2em;
    font-weight: bold;
}

div.post-body {
    font-size: 1.2em;
}

div.post-footer {
    border-top: 1px solid #eeeeee;
    margin-top: 8px;
}

div.post-footer ul {
    margin-bottom: 0px;
    margin-top: 0px;
}

div.post-footer .waves-effect {
    background-color: #fff;
    color: #212121
}




/*表单*/
form .row {
    padding-left: 24px;
    padding-right: 24px;
}

/*个人信息区*/
div.profile-card {
    padding: 24px 8px 2px 24px;
}

div.profile-card img{
    position: absolute;
    top: 24px
}

div.profile-card p {
    margin-left: 148px;
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 6px;
}

div.profile-card table {

    margin-left: 148px ;
}

table tr {
    border: none;
}
table th,td {
    padding-bottom: 6px;
    padding-top: 6px;
}

div#delete-post {
    max-height: 40%;
    width: 35%;
}

/*评论*/

.comment-form form {

}
.comment-form .row{
    margin-bottom: 0px;
}
.comment-form .input-field {
    margin-top: 0;
    margin-bottom: 0;
}

ul.comments {
    border-top: 1px solid #e0e0e0;
}

li.comment {
    border-bottom: 1px solid #e0e0e0;
}

li.comment {
    padding: 8px;
}

div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    padding-left: 56px;
}

div.comment-date {
    padding-top: 5px;
    font-weight: lighter;
}

/*标签列表区*/
div.tag-list {
    width: 90%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
}
div.tag-list p {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 6px;
    font-size: 1.4em;
    font-weight: bold;
}

div.tag-list .btn {
    border-bottom: 1px solid #e4e4e4;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 12px;
}

div.tag-list span.badge {
    margin-top: 6.5px;
    margin-left: 8px ;

}

.fixed-action-btn{
    right: auto;
    margin-left: -5%;
}


/*日程*/
.active-item {
    font-size: 16px;
    color: #000000;

}
.inactive-item {
    font-size: 16px;
    color: #d5d5d5;
    text-decoration: line-through;
}
