<li class="comment">
    <div class="comment-thumbnail">
        <a href="{{ url_for('.user', username=comment.author.username) }}">
            <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
        </a>
    </div>
    <div class="comment-content">
        <div class="comment-author">
            <a href="{{ url_for('.user', username=comment.author.username) }}">
                {{ comment.author.username }}</a> : {{ comment.body }}
        </div>
        <div class="comment-date">
            {{ moment(comment.timestamp).fromNow() }}
            <a class="btn-flat btn-small delete-comment right" data-href="{{ url_for('.delete_comment', id=comment.id) }}">
            <i class="material-icons">delete</i>
            </a>
        </div>

    </div>
</li>
