{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}MaterializedFlask{% endblock %}

{% block content %}
<main>
    {% if current_user.is_authenticated %}
    <div class="container">
        <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large waves-effect waves-light red modal-trigger"  href="#post-form">
                <i class="large material-icons">mode_edit</i>
            </a>
            <div id="post-form" class="modal">
                <form class="post_form" method="POST">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">label</i>
                        {{ form.tags(class="materialize-textarea") }}
                        {{ form.tags.label }}
                        {% for error in form.tags.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">edit</i>
                        {{ form.body(class="materialize-textarea") }}
                        {{ form.body.label }}
                        {% for error in form.body.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row right">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            提交<i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    {% endif %}




    {% for message in get_flashed_messages() %}
    <div class="container alert">
        <div class="row">
            <div class="col s12">
                <div class="card-panel teal lighten-1 center">
                    <span class="card-content white-text" style="font-size:1.2em">
                        {{ message }}
                    </span>
                 </div>
            </div>
        </div>
    </div>
    {% endfor %}


{#    <div class="row page-header">#}
{#        <p>写文章：</p>#}
{#    </div>#}
{##}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <form class="post_form" method="POST">#}
{#                {{ form.hidden_tag() }}#}
{#                <div class="row">#}
{#                    <div class="input-field col s12">#}
{#                        <i class="material-icons prefix">label</i>#}
{#                        {{ form.tags(class="materialize-textarea") }}#}
{#                        {{ form.tags.label }}#}
{#                        {% for error in form.tags.errors %}#}
{#                        <p>{{ error }}</p>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="input-field col s12">#}
{#                        <i class="material-icons prefix">edit</i>#}
{#                        {{ form.body(class="materialize-textarea") }}#}
{#                        {{ form.body.label }}#}
{#                        {% for error in form.body.errors %}#}
{#                        <p>{{ error }}</p>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row right">#}
{#                    <div class="input-field col s12">#}
{#                        <button class="btn waves-effect waves-light" type="submit" name="action">#}
{#                            提交<i class="material-icons right">send</i>#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

    <div class="row page-header">
            <p>{{ title }}文章：</p>
    </div>

    <div class="container">
        <div class="row">
            <ul class="col s12 m12 l12 posts">
                {% for post in posts %}
                {% include '_post.html' %}
                {% endfor %}
            </ul>
            {% if pagination %}
            <div class="col s12 m12 l12 pagination">
                {{ macros.pagination_widget(pagination, endpoint) }}
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}