{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}MaterializedFlask - {{ user.username }}{% endblock %}

{% block content %}
<main>
    <div class="row page-header">
            <p>个人资料：</p>
    </div>
    <div class="container" id="profile">
        <div class="row">
            <div class="col s12 m12 l12 profile">
                <div class="card profile-card">
                    <div class="profile-header">
                        <a class="profile-name" href="{{ url_for('.user', username=user.username) }}">{{ user.username }}</a>
                        {% if user == current_user %}
                        <div class="btn-small transparent right"><a href="{{ url_for('.edit_profile') }}">编辑资料</a></div>
                        {% endif %}
                        {% if current_user.is_administrator() %}
                        <div class="btn-small transparent right"><a href="{{ url_for('.edit_profile_admin', id=user.id) }}">编辑资料[管理员]</a></div>
                        {% endif %}
                        {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                            {% if not current_user.is_following(user) %}
                            <div class="btn-small transparent right"><a href="{{ url_for('.follow', username=user.username) }}" >关注</a></div>
                            {% else %}
                            <div class="btn-small transparent right"><a href="{{ url_for('.unfollow', username=user.username) }}" >已关注</a></div>
                            {% endif %}
                        {% endif %}
                    </div>


                    <img class="profile-thumbnail" src="{{ user.gravatar(size=128) }}" alt="Profile Photo">
                    <div class="profile-table">
                        <table class="highlight">
                        {% if user.name %}
                        <tr>
                            <th>姓名</th>
                            <td>{{ user.name }}</td>
                        </tr>
                        {% endif %}
                        {% if user.location %}
                        <tr>
                            <th>城市</th>
                            <td><a href="http://maps.baidu.com/?q={{ user.location }}">{{ user.location }}</a></td>
                        </tr>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <tr>
                            <th>邮箱</th>
                            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                        </tr>
                        {% endif %}
                        {% if user.about_me %}
                        <tr>
                            <th class="about_me">关于我</th>
                            <td>{{ user.about_me }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>注册时间</th>
                            <td>{{ moment(user.member_since).format('L') }}</td>
                        </tr>
                        <tr>
                            <th>最近登录</th>
                            <td>{{ moment(user.last_seen).fromNow() }}</td>
                        </tr>
                    </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row tag-list">
        <p>{% if user == current_user %}我的{% else %}他的{% endif %}活动</p>
        <div class="container profile-status">
            <div class="btn-small transparent"><a>已发布博客<span class="badge">{{ user.posts.count() }}</span></a></div>
            <div class="btn-small transparent"><a>收到评论<span class="badge">{{ user.comments_count }}</span></a></div>
            <div class="btn-small transparent"><a>被赞<span class="badge">{{ user.likers_count }}</span></a></div>
            <div class="btn-small transparent"><a>被收藏<span class="badge">{{ user.collectors_count }}</span></a></div>
            <div class="btn-small transparent"><a>已发布评论<span class="badge">{{ user.comments.count() }}</span></a></div>
            <div class="btn-small transparent"><a>收藏<span class="badge">{{ user.collections.count() }}</span></a></div>
            <div class="btn-small transparent"><a>已赞<span class="badge">{{ user.liked_posts.count() }}</span></a></div>
            <div class="btn-small transparent">
                <a href="{{ url_for('.followers', username=user.username) }}">关注<span class="badge">{{ user.followers.count() - 1 }}</span></a>
            </div>
            <div class="btn-small transparent">
                <a href="{{ url_for('.followed_by', username=user.username) }}">被关注<span class="badge">{{ user.followed.count() - 1 }}</span></a>
            </div>
        </div>

    </div>



    <div class="container">
        <div class="row page-header">
            <ul class="tabs user-tabs">
                <li class="tab col s6 m6 l6"><a href="#posts" style="font-size:1.2em;font-weight: bold;">{% if user == current_user %}我的{% else %}他的{% endif %}博客</a></li>
                <li class="tab col s6 m6 l6"><a href="#collections" style="font-size:1.2em;font-weight: bold;">{% if user == current_user %}我的{% else %}他的{% endif %}收藏</a></li>
            </ul>
        </div>
    </div>

    <div class="container" id="posts">
        <div class="row">
            <div class="col s12 m12 l12">
                {% for post in posts %}
                {% include '_post.html' %}
                {% endfor %}
            </div>
            {% if pagination %}
            <div class="col s12 m12 l12 pagination right">
                {{ macros.pagination_widget(pagination, '.user', username=username) }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container" id="collections">
        <div class="row">
            <div class="col s12 m12 l12">
                {% for post in user.collections.all() %}
                {% include '_post.html' %}
                {% endfor %}
            </div>
        </div>
    </div>


</main>
{% endblock %}